.main__wrapper
    background-color: #1f1f33   
    height: 100vh
    display: flex
    align-items: center
    justify-content: center
    flex-wrap: wrap

.form-wrapper
    background-color: #363450
    display: flex
    border-radius: 10px
    justify-content: center
    flex-wrap: wrap    
    max-width: 350px

form
    padding: 40px
    box-sizing: border-box

.input-block
    position: relative

.form__input
    display: block
    border: none
    height: 45px
    border-radius: 30px
    line-height: 45px  
    box-sizing: border-box
    padding: 0 15px 0 20px
    font-size: 16px 
    margin-bottom: 20px
    background: rgba(255,255,255,.9)
    width: 100%
    transition: all .3s

    &:not(:placeholder-shown)
        padding-top: 12px

        + label
            top: 25%
            font-size: 12px

    &:focus
        padding-top: 12px
        outline: none

        + label
            top: 25%
            font-size: 12px

.form__button
    border: none
    color: #fff
    cursor: pointer
    margin-top: 20px
    background: #7a6b9e
    border-radius: 30px
    line-height: 40px  
    box-sizing: border-box
    padding: 0 15px
    font-size: 16px 
    width: 100%

    &:focus
        outline: none   

    &:hover
        background: #6a4ead

.form__label
    transition: all .3s
    position: absolute
    margin: 0
    padding: 0
    left: 20px
    font-size: 16px
    line-height: 12px
    top: 50%
    transform: translateY(-50%)
    color: #848484

.form__error
    padding: 10px
    border-radius: 10px
    color: #fff
    font-size: 14px
    line-height: 14px
    background: #ca3636
    position: absolute
    right: -15px
    top: 50%
    transform: translate(100%, -50%)

    &:before
        background: #ca3636
        content: ''
        width: 15px
        height: 15px
        position: absolute
        left: 0
        top: 50%
        transform: translate(-50%, -50%) rotate(45deg)

.form__tabs
    margin: 0
    padding: 0
    display: flex
    border-radius: 30px 0 0 0
    justify-content: space-between
    width: 100%

.form__tab
    cursor: pointer
    border-radius: 10px 0 0 0
    display: block
    text-align: center
    width: 50%
    font-size: 16px 
    box-sizing: border-box
    padding: 15px
    line-height: 28px
    color: #fff

    &:focus
        outline: none

    &:nth-child(2)
        border-radius: 0 10px 0 0

    &--active
        cursor: default
    
.react-tabs__tab--selected
    background: #d10707
